<h1 style="color: rgb(78, 14, 137);"> Here I am! {{ name }} </h1>
<a-component> </a-component>
<app-a-image> </app-a-image>


<p style="text-align: center;">{{another}} <em>this is interpolation binding </em></p>

<img [src] = 'image' class="alcentro" title="property binding using [...]">

<p style="text-align: center;">This <button (click)="onClick()">Don't you click.</button> 
    is an evet binging...add a property in the Js file (open the DevTool to get it)
    
</p>


<p style="text-align: center;">Here value in the view and the model are reflected throught two way binding with [(ngModel)].
    <br> <input [(ngModel)]="value" type="text" > {{value}} 
 </p>
 <app-form-component> </app-form-component>

 <h2>Angular services</h2>
<!--I import the service with the selector from the component created-->
<div>
 <app-e-info></app-e-info>
 <br>
 <app-e-duty></app-e-duty>
</div>